{% extends "base.html" %}

{% block content %}
  <h3>Home Page</h3>

  <p>Each student accepted into the Rachleff Program is required to complete work in three separate areas:</p>

  <p><b>Research Experience:</b> Rachleff Scholars will participate in a 10 week paid Summer Research Experience, 
  typically after completing the sophomore year. The research will be conducted under the supervision 
  and mentorship of a standing Penn faculty member. Students will also participate in credit-bearing 
  seminar courses in the semesters prior to and immediately following their Summer Research Experience.</p>

  <p><b>Honors Coursework:</b> As part of the undergraduate degree requirements, Rachleff Scholars will complete 
  two course units of Honors Coursework. These courses could be designated honors courses or graduate 
  level courses. The selection of appropriate coursework will be made in consultation with your Rachleff 
  Scholars Program Faculty Advisor.</p>

  <p><b>Scholarly Community Activities:</b> In addition to the above academic pursuits, Rachleff Scholars will have 
  the opportunity to interact with their peers outside the classroom and laboratory through community-building 
  activities that will enable them to gain broader skills and knowledge. Examples of Scholarly Community 
  Activities include site visits to industries and research institutes, community outreach projects, 
  and social functions.</p>

  <div id="slideshow" class="show">
    {%for i in images%}
      <img src="{{url_for('static',filename=i)}}" class="show">
    {%endfor%}
  </div>
  <script type="text/javascript">
    $('#slideshow').cycle({fx:'fade',speed:2000,timeout:2500});
  </script>

  <ul class="names">
    <li><b>Program Director:</b> Dr. Jan Van der Spiegel</li>
    <li><b>Academic Advisor: </b> <a class="names" href="mailto:sgwak@seas.upenn.edu">Dr. S. Sonya Gwak</a></li>
  </ul>
{% endblock content %} 
