{% extends "base.html" %}

{% block content %}
  <p>
    The Rachleff Scholars program offers Penn Engineering undergraduates the opportunity to gain valuable research experiences 
    with standing faculty and to participate in a community of peers who 
    share a common interest in research and scholarly inquiry. It 
    includes two major aspects:
  </p>
  <ol style="list-style-type: lower-alpha">
    <li>A ten-week paid Summer Research Experience, typically after the completion of a student's
    sophomore year. This experience will be completed under the mentorship of a University of
    Pennsylvania Faculty member.</li>
    <li>Several credit-bearing courses prior to and following the Summer Research Experience.</li>
  </ol>

  <div id="slideshow" class="show">
    {%for i in images%}
      <img src="{{url_for('static',filename=i)}}" class="show">
    {%endfor%}
  </div>
  <script type="text/javascript">
    $('#slideshow').cycle({fx:'fade',speed:2000,timeout:2500});
  </script>

  <ul class="names">
    <li><b>Program Director:</b> Dr. Jan Van der Spiegel</li>
    <li><b>Academic Advisor: </b> Dr. S. Sonya Gwak</li>
  </ul>
{% endblock content %} 
